[core]
	excludesfile = /Users/tom/.gitignore
[user]
	name = tommychat
	email = thomas.bennett@caminu.fr
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgn = log --graph --no-color --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit
[github]
	user = tommychat
[init]
	defaultBranch = main
[commit]
	gpgsign = true
